@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/*body{
    height: 2000px;
    background-color: rgb(163, 102, 107);
    background-image: linear-gradient( rgb(163, 102, 107), rgb(20, 9, 26), rgb(10, 74, 99),rgb(196, 71, 39), rgb(64, 55, 80), rgb(149, 194, 214));
}*/

body{
    background-image: url(images/360_F_559150324_knVyGgrIKnv77TqqLimeqmGXfLoSfVJi.jpg);
    background-attachment: cover;
    background-color: rgb(77, 69, 69);
    background-blend-mode:multiply;
    
    
    
}







.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #080000,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      text-align: center;
      font-weight: 500;
      font-size: 7.2rem;
      font-family: "Satisfy", sans-serif;
      animation: pulsate 1s ease-in-out infinite alternate;
      
}


@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #0c0000,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    0% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }}
  
  


.container {
  margin-top: 20vh;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.main{
    margin-left: 250px;
    padding: 0px 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
.box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: "";
  background: linear-gradient(45deg, transparent, transparent 40%, yellow),
      linear-gradient(#262626, #141414);
  animation: rotate 30s linear infinite;
}

.box:before,
.box:after {
  content:"";
  position: absolute;
  inset: 9px;
  background-image: url(images/KW.png);
  background-size: contain;
  border-radius: inherit;
}

.box:before {
  
  background: linear-gradient(45deg, transparent, transparent 40%, yellow);
  filter: blur(32px);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.neonText-side {
  color: red;
  text-shadow:
      0 0 7px red,
      0 0 10px red,
      0 0 21px red,
      0 0 42px red,
      0 0 82px red,
      0 0 92px red,
      0 0 102px red,
      0 0 151px red;
      text-align: left;
      font-weight: 500;
      font-size: 25px;
      border: .02rem solid #1502c4;
      border-radius: 20px;
      margin-top:30px;
      margin-left: 10px;
      margin-right: 95px;
      
      box-shadow:   0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #fff,
                    0 0 42px #1502c4,
                    0 0 0.8rem #1502c4,
                    0 0 2.8rem #1502c4,
                    inset 0 0 1.3rem#1502c4;
    }   
    
    
    

  
  
 
.title{
  padding-top:35px;
  margin-left: 30px;
  text-align: left;
  color:white;
  font-size: 40px;
  padding-bottom: 40px;


}

.section{
  padding-top:35px;
  margin-left: 50px;
  text-align:center;
  color:white;
  font-size: 26px;
  
  border: .02rem solid #d667b5;
  border-radius:2rem;
  padding: 0.4em;
  box-shadow:   0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #fff,
                0 0 42px #d667b5,
                0 0 0.8rem #d667b5,
                0 0 2.8rem #d667b5,
                inset 0 0 1.3rem#d667b5;
}   
    