@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

/*body{
    height: 2000px;
    background-color: rgb(163, 102, 107);
    background-image: linear-gradient( rgb(163, 102, 107), rgb(20, 9, 26), rgb(10, 74, 99),rgb(196, 71, 39), rgb(64, 55, 80), rgb(149, 194, 214));
}*/

body{
    background-image: url(images/360_F_559150324_knVyGgrIKnv77TqqLimeqmGXfLoSfVJi.jpg);
    background-attachment: cover;
    background-color: rgb(77, 69, 69);
    background-blend-mode:multiply;
    
    
    
}

/*------------------------NAME HEADER----------------------------*/

.container {
  margin-top: 10vh;
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #080000,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(36, 142, 192),
      0 0 82px rgb(36, 142, 192),
      0 0 92px rgb(36, 142, 192),
      0 0 102px rgb(36, 142, 192),
      0 0 151px rgb(36, 142, 192);
      text-align: center;
      margin-top: 0;
      font-weight: 500;
      font-size: 7.2rem;
      font-family: "Satisfy", sans-serif;
      animation: pulsate 3s ease-in-out infinite alternate;
      
}


@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #0c0000,
        0 0 19px #fff,
        0 0 40px rgb(36, 142, 192),
        0 0 80px rgb(36, 142, 192),
        0 0 90px rgb(36, 142, 192),
        0 0 100px rgb(36, 142, 192),
        0 0 150px rgb(36, 142, 192);
    
    }
    
    0% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(36, 142, 192),
        0 0 82px rgb(36, 142, 192),
        0 0 92px rgb(36, 142, 192),
        0 0 102px rgb(36, 142, 192),
        0 0 151px rgb(36, 142, 192);
  }
}
  
  
/*-----------------SIDE NAV--------------------*/



.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: Gudea, sans-serif;
    font-size: 20px;
    color: white;
    display: block;
}

.side-buttons{
    padding-top: 50px;
}

.icons ul{
  margin-top: 200px;
  padding: 0;
  display: flex;
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }  

.icons ul li{
  list-style:none;
  margin: 0 15px;
}


.icons ul li a{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-right:16px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #171515;
  border-radius: 50%;
  font-size: 45px;
  color: #666;
  transition: .5s;

}
  
.icons ul li a:before {
  content: '';
  position: absolute;
  top:0; 
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: rgb(36, 142, 192);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
  
.icons ul li a:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgb(36, 142, 192);
  filter: blur(3px);
}
  
.icons ul li a:hover {
  color: rgb(36, 142, 192);
  box-shadow: 0 0 15px rgb(36, 142, 192);
  text-shadow: 0 0 15px rgb(36, 142, 192);
}

/*----------------------- Signature Rotating Box ------------------------*/

.main{
    margin-left: 250px;
    padding: 0px 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
.box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: "";
  background: linear-gradient(45deg, transparent, transparent 40%, yellow),
      linear-gradient(#262626, #141414);
  animation: rotate 30s linear infinite;
}

.box:before,
.box:after {
  content:"";
  position: absolute;
  inset: 9px;
  background-image: url(images/KW.png);
  background-size: contain;
  border-radius: inherit;
}

.box:before {
  
  background: linear-gradient(45deg, transparent, transparent 40%, yellow);
  filter: blur(32px);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/*-----------------------OPEN FOR HIRE------------------------*/

.neonText-side {
  color: red;
  text-shadow:
      0 0 7px red,
      0 0 10px red,
      0 0 21px red,
      0 0 42px red,
      0 0 82px red,
      0 0 92px red,
      0 0 102px red,
      0 0 151px red;
      text-align: center;
      font-weight: 500;
      font-size: 25px;
      border: .02rem solid #1502c4;
      border-radius: 20px;
      margin-top:125px;
      margin-left: 50px;
      margin-right: 50px;
      
      box-shadow:   0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #fff,
                    0 0 42px #1502c4,
                    0 0 0.8rem #1502c4,
                    0 0 2.8rem #1502c4,
                    inset 0 0 1.3rem#1502c4;
    }   

.title{
  padding-top:35px;
  margin-left: 65px;
  text-align: left;
  color:white;
  font-size: 40px;
  padding-bottom: 40px;


}

.about-me{
  margin-top: 100px;
  /* padding-top: 30px; */
  margin-left: 75px;
  margin-right:75px;
  text-align:center;
  color:white;
  font-size: 22px;
  font-family: Gudea, sans-serif;
  border: .02rem solid rgb(36, 142, 192);
  border-radius:2rem;
  padding: 2rem;
  line-height: 2.5rem;
  box-shadow:   0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #fff,
                0 0 42px rgb(36, 142, 192),
                0 0 0.8rem rgb(36, 142, 192),
                0 0 2.8rem rgb(36, 142, 192),
                inset 0 0 1.3rem rgb(36, 142, 192);

}   
  .skills-title{
    padding-top:100px;
    padding-left: 100px;
    text-align: left;
    font-family: Gudea, sans-serif;
    font-size: 60px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(36, 142, 192),
        0 0 82px rgb(36, 142, 192),
        0 0 92px rgb(36, 142, 192),
        0 0 102px rgb(36, 142, 192),
        0 0 151px rgb(36, 142, 192);
       
        animation: pulsate 2s ease-in-out infinite alternate;
      
      }
      
      
      @keyframes pulsate {
          
          100% {
        
              text-shadow:
              0 0 4px #fff,
              0 0 11px #0c0000,
              0 0 19px #fff,
              0 0 40px rgb(36, 142, 192),
              0 0 80px rgb(36, 142, 192),
              0 0 90px rgb(36, 142, 192),
              0 0 100px rgb(36, 142, 192),
              0 0 150px rgb(36, 142, 192);
          
          }
          
          0% {
        
              text-shadow:
              0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px rgb(36, 142, 192),
              0 0 82px rgb(36, 142, 192),
              0 0 92px rgb(36, 142, 192),
              0 0 102px rgb(36, 142, 192),
              0 0 151px rgb(36, 142, 192);
        }
        
  }

  .skills-icon{
    margin-left: 100px;
    padding-top: 50px;
    
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    font-family: Gudea, sans-serif;
    font-size: 25px;
    color: white;
    /* align-items: baseline; */
  
    align-content:center ;
    gap: 0;
  
  
  }

  .skills-icon i{
    font-size: 50px;
    padding-right: 20px;
  }

  /* -------------------------Projects Page--------------------- */
.projects ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  
}

.projects ul li a{
 display:block;
 padding:20px;

}